h1, .h1 {
    color:$primary;
}
h2, .h2 {
    color:$secondary;
}

body {
    background-color:$blue;
    color: $white;
}

small {
    color: $blue;
}

.btn-secondary {
    color: $blue;
}

.my-card {
    padding: .5rem 1.5rem;
    border-radius: .5em;

    &.mc1 {
        background-color: $yellow;
        color: $dark-purple;

        #visitorLogName {
            min-width: 20.25rem;
        }
    }

    &.mc2 {
        background-color: $pink;
        color: $dark-blue;

        &.mc2-ml-3 {
            @media (min-width: 768px) {
                margin-left: inherit !important;
            }
        }
    }

    &.mc3 {
        background-color: $purple;
        color: $yellow;

    }
}

.align-items-center {
    align-items: center !important;
}

.lessonHeader {
    background-color: $dark-blue;

    h2 {
        color: $cyan;
    }
}

.construction-image {
    width:100%;
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin: .2rem 0;
    float: right;
}

.constructionBreak {
    border-color: $yellow;
}