h1, .h1 {
    color:$primary;
}
h2, .h2 {
    color:$secondary;
}

body {
    background-color:$blue;
    color: $white;
}

small {
    color: $blue;
}

.btn-secondary {
    color: $cyan;
}

.my-card {
    background-color: $pink;
    padding: .5rem 1.5rem;
    border-radius: .5em;
    color: $dark-blue;
}