$red: #A54657;
$blue: #397D83;
$yellow: #F7EE7F;
$orange: #F1A66A;
$pink: #F47C74;
$green: #39C047;
/* did it find this */
$primary:       $blue;
$secondary:     $pink;
$success:       $green;
$info:          $yellow;
$warning:       $orange;
$danger:        $red;