
$blue: #0D556E;
$purple: #8A89C0;
$pink: #CDA2AB;
$cyan: #D8FDF3;
$white: #ffffff;
$azure-white: #ECFEF9;
$dark-blue: #30465F;


$red: #A54657;
$light-blue: #5dc8dd;
$yellow: #eaae5c;
$orange: #F1A66A;
$green: #39C047;
$dark-purple: #322b46;
$light-purple: $purple;

/* did it find this */
$primary:       $cyan;
$secondary:     $azure-white;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;


// Used

$spacer: 1rem;