$red: #A54657;
$blue: #515d7d;
$light-blue: #5dc8dd;
$yellow: #eaae5c;
$orange: #F1A66A;
$pink: #F47C74;
$green: #39C047;
$white: #e4ebe4;
$dark-purple: #322b46;
/* did it find this */
$primary:       $yellow;
$secondary:     $light-blue;
$success:       $green;
$info:          $pink;
$warning:       $orange;
$danger:        $red;